@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  text-decoration: none; }

.cuerpo {
  background-color: #f7f7f7; }

.titulo {
  font-weight: bold;
  font-size: 2.7rem; }

.texto {
  font-size: 1.6rem; }

.tituloAlt {
  font-size: 2.2rem; }

.linea {
  background: #00d10a;
  height: 6px;
  display: inline-block;
  width: 100%; }

a:link, a:visited, a:active {
  text-decoration: none; }

@media screen and (max-width: 767px) {
  .titulo {
    font-weight: bold;
    font-size: 1.6rem; }
  .texto {
    font-size: 1.2rem; }
  .tituloAlt {
    font-size: 1.4rem; }
  .imagen {
    width: 60%; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .titulo {
    font-weight: bold;
    font-size: 2rem; }
  .tituloAlt {
    font-size: 1.6rem; }
  .imagen {
    width: 50%; } }

.text-uppercase {
  font-size: 1rem; }
  .text-uppercase .link {
    position: relative; }
    .text-uppercase .link:after {
      content: "";
      position: absolute;
      background-color: #00d10a;
      height: 3px;
      width: 0%;
      left: 0;
      bottom: -5px;
      transition: 0.3s; }
    .text-uppercase .link:hover {
      color: white; }
    .text-uppercase .link:hover:after {
      width: 100%; }

.icono {
  color: black; }

.navbarGral {
  background-color: white; }
  .navbarGral .navbar-toggler {
    font-size: 2rem;
    color: black; }
    .navbarGral .navbar-toggler:hover {
      outline: none;
      box-shadow: none; }
  .navbarGral .nav-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s; }
    .navbarGral .nav-link:hover {
      color: #00d10a; }

.indexCard {
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center; }
  @media screen and (max-width: 767px) {
    .indexCard {
      margin-left: 15%;
      margin-right: 15%; } }
  .indexCard .indexCardImg {
    width: 60%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    @media screen and (max-width: 767px) {
      .indexCard .indexCardImg {
        width: 40%; } }
  .indexCard .indexBtn {
    border-radius: 2em;
    padding: 0.5em 1.5em;
    outline: none;
    border: none;
    color: white;
    background: #00d10a;
    transition: all 0.4s; }
    .indexCard .indexBtn:hover {
      outline: none;
      color: #00d10a;
      background: transparent;
      border-radius: 50px; }
    .indexCard .indexBtn:focus {
      box-shadow: inherit; }

.fa-triangle-exclamation {
  font-size: 10em;
  -webkit-animation: 0.75s linear infinite exclamacion;
  animation: 3s linear infinite exclamacion; }

@-webkit-keyframes exclamacion {
  0% {
    transform: scale(0); }
  50% {
    opacity: 1;
    transform: none; } }

@keyframes exclamacion {
  0% {
    transform: scale(0); }
  50% {
    opacity: 1;
    transform: none; } }

.formulario {
  background-color: white;
  width: 360px;
  padding: 20px; }
  .formulario .form-control {
    box-shadow: inherit; }
  .formulario .form-check-input:focus {
    box-shadow: inherit; }

.mapa {
  background-color: white;
  padding-bottom: 40%;
  position: relative;
  height: 0;
  overflow: hidden; }
  .mapa .mapaIframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.boton {
  height: 50px;
  width: 50%;
  outline: none;
  border: none;
  color: white;
  background: #00d10a;
  border-radius: 50px;
  margin: 0 auto;
  display: block;
  transition: all 0.4s; }
  .boton:hover {
    outline: none;
    color: #00d10a;
    background: transparent;
    border-radius: 50px; }

.accordion-item {
  border: 1px solid rgba(0, 209, 10, 0.35); }
  .accordion-item .accordion-button {
    font-size: 1.4rem; }
    .accordion-item .accordion-button:not(.collapsed) {
      color: inherit;
      background: #00d10a;
      color: white; }
    .accordion-item .accordion-button:not(.collapsed)::after {
      filter: brightness(0%) invert(100%); }
    .accordion-item .accordion-button:focus {
      box-shadow: inherit; }
