$titulos: (
    Tcelu: 1.5rem,
    Ttablet: 2rem,
    Tescritorio: 2.7rem,
);
$textos:(
    Txtcelu: 1rem,
    Txttablet: 1.2rem,
    Txtescritorio: 1.4rem,
);
$tituloAlt:(
    Taltcelu: 1.2rem,
    Talttablet: 1.4rem,
    Taltescritorio: 2.2rem,
);