$verdeBase: rgba(0, 209, 10, 1);
$blanco: rgb(255, 255, 255);
$negro: rgb(0, 0, 0);
$sinHeredar: inherit;
$fw: bold;
$titulos: (
    Tcelu: 1.5rem,
    Ttablet: 2rem,
    Tescritorio: 2.7rem,
);
$textos:(
    Txtcelu: 1rem,
    Txttablet: 1.2rem,
    Txtescritorio: 1.4rem,
);
$tituloAlt:(
    Taltcelu: 1.2rem,
    Talttablet: 1.6rem,
    Taltescritorio: 2.2rem,
);